#top-bar{
    background-color: var(--theme-color-overlay);
    width: 100%;
    height: 60px;
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 1;
}

#top-bar button{
    position: absolute;
    left: 10px;
}

#top-bar h1{
    padding: 0;
}

input, textarea {
    min-width: 100px;
}

#editor{
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
}

#preview{
    position: fixed;
    width: 50vw;
    height: 100vh;
    overflow-y: scroll;
    top: 0;
    left: 50vw;
}

#form {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    margin: 50px;
    padding-bottom: 50px;
}

.button-container{
    text-align: right;
}

#photo, #custom-css {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

#photo Img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.movable_element{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.movable_element button{
    min-width: 0;
    width: 45px;
    height: 45px;
}

.arrows_div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;
    width: 110px;
    margin-left: -55px;
}

.contact-item button, .skill-item button, .link-item button, .work-item button, .education-item button, .project-item button, .language-item button, .hobby-item button{
    min-width: 0;
    width: 45px;
}

#contacts, #links, #skills, #works, #educations, #languages, #projects, #hobbies {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.contact-item, .link-item{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto 45px;
    grid-gap: 10px;
}

#about-me_input {
    width: 100%;
    height: 100px;
}

.work-item, .project-item{
    width: 100%;
    display: grid;
    grid-template-columns: 150px auto;
    grid-gap: 10px;
}

.skill-item, .hobby-item{
    width: 100%;
    display: grid;
    grid-template-columns: auto 45px;
    grid-gap: 10px;
}

.work-item .title-content_div, .project-item .title-content_div{
    display: grid;
    grid-template-columns: auto 45px;
    grid-gap: 10px;
}

.work-item textarea, .project-item textarea{
    grid-column: 1/3;
    height: 100px;
}

.work-item .date-content_div{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.education-item{
    width: 100%;
    display: grid;
    grid-template-columns: auto 150px 45px;
    grid-gap: 10px;
}

.language-item {
    width: 100%;
    display: grid;
    grid-template-columns: auto 100px 45px;
    grid-gap: 5px;
}