:root {
    --text-area-height: 200px;
    --editor-width: calc(100vw - 7.1in - 32mm - 4px);
    --preview-width: calc(7.1in + 32mm);
}

html {
    background: white;
}

h2 {
    width: 100%;
    padding: 5px;
    font-size: 1.2rem;
    background: var(--theme-color-background-light);
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#editor {
    display: flex;
    width: var(--editor-width);
    flex-direction: column;
    align-items: center;
}

#preview {
    position: fixed;
    width: var(--preview-width);
    height: 100vh;
    top: 0;
    right: 0;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.grid {
    display: grid;
    grid-template-columns: 110px auto;
    grid-gap: 50px;
    padding-bottom: 50px;
    text-align: left;
}

.content {
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
}

.buttons-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
}

#image, #custom-css, #custom-html {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#image Img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.movable_element {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.movable_element button {
    min-width: var(--button-size);
    width: var(--button-size);
    height: var(--button-size);
}

.arrows_div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;
    width: 75px;
    min-width: 75px;
    max-width: 75px;
}

.contact-item button, .skill-item button, .link-item button, .work-item button, .education-item button, .project-item button, .language-item button, .hobby-item button {
    min-width: 0;
    width: var(--button-size);
}

#header_contacts, #header_links, #skills, #works, #educations, #languages, #projects, #hobbies {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#works, #projects {
    gap: 100px;
}

.contact-item, .link-item {
    width: 100%;
    display: grid;
    grid-template-columns: 100px auto var(--button-size);
    grid-gap: 10px;
}

#about-me_input {
    width: 100%;
    height: var(--text-area-height);
}

.work-item, .project-item {
    width: 100%;
    display: grid;
    grid-template-columns: 150px auto;
    grid-gap: 10px;
}

.skill-item {
    width: 100%;
    display: grid;
    grid-template-columns: 50px auto var(--button-size);
    grid-gap: 10px;
}

.hobby-item {
    width: 100%;
    display: grid;
    grid-template-columns: auto var(--button-size);
    grid-gap: 10px;
}


.work-item .title-content_div, .project-item .title-content_div {
    display: grid;
    grid-template-columns: auto var(--button-size);
    grid-gap: 10px;
}

.work-item textarea, .project-item textarea {
    grid-column: 1/3;
    height: var(--text-area-height);
}

.work-item .date-content_div {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.education-item {
    width: 100%;
    display: grid;
    grid-template-columns: auto 150px var(--button-size);
    grid-gap: 10px;
}

.language-item {
    width: 100%;
    display: grid;
    grid-template-columns: auto 100px var(--button-size);
    grid-gap: 5px;
}

@media screen and (max-width: 1600px) {

    #editor {
        width: 100%;
    }

    #preview {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    
    .grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    
    .movable_element:has(.work-item), .movable_element:has(.project-item) {
        flex-direction: column;
    }
}