H1 {
    text-align: center;
}

input, textarea {
    min-width: 100px;
}

#editor{
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
}

#preview{
    position: fixed;
    width: 49vw;
    height: 100vh;
    overflow-y: scroll;
    top: 0;
    left: 51vw;
}

#form {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50vw;
    padding-bottom: 50px;
}

.button-container{
    text-align: right;
}

#photo, #custom-css {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

#photo Img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#alert {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 10px;
    z-index: 1000;
}

.movable_element{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.movable_element button{
    min-width: 0;
    width: 35px;
    height: 35px;
}

.arrows_div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;
}

.contact-item button, .skill-item button, .link-item button, .work-item button, .education-item button, .project-item button, .language-item button, .hobby-item button{
    min-width: 0;
    width: 35px;
}

#contacts, #links, #skills, #works, #educations, #languages, #projects, #hobbies {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.contact-item, .link-item{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto 35px;
    grid-gap: 10px;
}

#about-me_input {
    width: 100%;
    height: 100px;
}

.work-item, .project-item{
    width: 100%;
    display: grid;
    grid-template-columns: 150px auto;
    grid-gap: 10px;
}

.skill-item, .hobby-item{
    width: 100%;
    display: grid;
    grid-template-columns: auto 35px;
    grid-gap: 10px;
}

.work-item .title-content_div, .project-item .title-content_div{
    display: grid;
    grid-template-columns: auto 35px;
    grid-gap: 10px;
}

.work-item textarea, .project-item textarea{
    grid-column: 1/3;
    height: 100px;
}

.work-item .date-content_div{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.education-item{
    width: 100%;
    display: grid;
    grid-template-columns: auto 150px 35px;
    grid-gap: 10px;
}

.language-item {
    width: 100%;
    display: grid;
    grid-template-columns: auto 100px 35px;
    grid-gap: 5px;
}

#buttons {
    display: flex;
    position: sticky;
    left: 0;
    bottom : 0;
    width: 100%;
    z-index: 1000;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    padding-bottom: 10px;
}