<!-- 
*
* Structure
*
-->

<section id="header">

    <H1 id="header_title"></H1>
    <H2 id="header_profession"></H2>
    <img id="header_image" src="" alt=""/>
    <ul id="header_contacts"></ul>
    <ul id="header_links"></ul>

</section>

<section id="about-me">

    <div class="title-parent">
        <h3 class="title"></h3>
    </div>
    <div class="content"></div>

</section>

<section id="skills">

    <div class="title-parent">
        <h3 class="title"></h3>
    </div>
    <ul class="content"></ul>

</section>

<section id="work">

    <div class="title-parent">
        <h3 class="title"></h3>
    </div>
    <div class="content"></div>

</section>

<section id="projects">

    <div class="title-parent">
        <h3 class="title"></h3>
    </div>
    <div class="content"></div>

</section>

<section id="education">

    <div class="title-parent">
        <h3 class="title"></h3>
    </div>
    <div class="content"></div>

</section>

<section id="languages">

    <div class="title-parent">
        <h3 class="title"></h3>
    </div>
    <ul class="content"></ul>

</section>

<section id="hobbies">

    <div class="title-parent">
        <h3 class="title"></h3>
    </div>
    <ul class="content"></ul>

</section>

<!-- 
*
* Template
*
-->
<li class="contact-item"></li>

<li class="link-item">
    <p class="name"></p>
    <a class="url" target=""></a>
</li>

<div class="work-item">
    <div class="work_header">
        <h4 class="title"></h4>
        <p class="company"></p>
        <p class="date"></p>
    </div>
    <div class="description"></div>
</div>

<div class="education-item">
    <h4 class="name"></h4>
    <p class="date"></p>
</div>

<li class="language-item"></li>

<div class="project-item">
    <div class="project_header">
        <h4 class="title"></h4>
        <p class="date"></p>
    </div>
    <div class="description"></div>
</div>

<li class="skill-item"></li>

<li class="hobby-item"></li>