<!-- 
*
* Structure
*
-->
<div id="content">

    <section id="header">

        <img id="header_image" src="" alt=""/>
        <H1 id="header_title"></H1>
        <H2 id="header_profession"></H2>

        <section id="section_contacts">

            <div class="title-parent">
                <h3 class="title"></h3>
            </div>
            <ul class="content"></ul>

        </section>

        <section id="section_links">

            <div class="title-parent">
                <h3 class="title"></h3>
            </div>
            <ul class="content"></ul>

        </section>

    </section>
    
    <section id="section_about-me">

        <div class="title-parent">
            <h3 class="title"></h3>
        </div>
        <div class="content"></div>

    </section>

    <section id="section_skills">

        <div class="title-parent">
            <h3 class="title"></h3>
        </div>
        <ul class="content"></ul>

    </section>

    <section id="section_work">

        <div class="title-parent">
            <h3 class="title"></h3>
        </div>
        <div class="content"></div>

    </section>

    <section id="section_projects">

        <div class="title-parent">
            <h3 class="title"></h3>
        </div>
        <div class="content"></div>

    </section>

    <section id="section_education">

        <div class="title-parent">
            <h3 class="title"></h3>
        </div>
        <div class="content"></div>

    </section>

    <section id="section_languages">

        <div class="title-parent">
            <h3 class="title"></h3>
        </div>
        <ul class="content"></ul>

    </section>

    <section id="section_hobbies">

        <div class="title-parent">
            <h3 class="title"></h3>
        </div>
        <ul class="content"></ul>

    </section>
</div>

<!-- 
*
* Template
*
-->
<li class="contact-item">
    <p class="type"></p>
    <p class="value"></p>
</li>

<li class="link-item">
    <p class="name"></p>
    <a class="url" target=""></a>
</li>

<div class="work-item">
    <div class="work_header">
        <h4 class="title"></h4>
        <p class="company"></p>
        <p class="date"></p>
    </div>
    <div class="description"></div>
</div>

<div class="education-item">
    <h4 class="name"></h4>
    <p class="date"></p>
</div>

<li class="language-item">
    <p class="name"></p>
    <p class="level"></p>
</li>

<div class="project-item">
    <div class="project_header">
        <h4 class="title"></h4>
        <p class="date"></p>
    </div>
    <div class="description"></div>
</div>

<li class="skill-item">
    <p class="name"></p>
    <progress class="level"></progress>
</li>

<li class="hobby-item">
    <p class="name"></p>
</li>