/* 
*
* General 
*
*/
:root {
    --main-color: #d9ebff;
}

* {
    padding: 0;
    margin: 0;
}

html {
    background-color: white;
}

#content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%;
}

h1 {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 5px;
    text-align: left;
}

h2 {
    font-family: "Epilogue", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    margin-bottom: 5px;
}

h3 {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 11px;
}

h4 {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 10px;
    margin-bottom: 5px;
}

/* Progress bar: */
progress {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 90px;
    background-color: white;
    color: var(--main-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

progress::-webkit-progress-bar {
    background-color: white;
}

progress::-webkit-progress-value {
    background-color: var(--main-color);
}

progress::-moz-progress-bar {
    background-color: var(--main-color);
}

/* 
*
* Sections 
*
*/

/* Inner content */
li, p, .education-item h4 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    line-height: 16px;
}

.contact-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

    /* Separator between horizontal list items, dates... */
.contact-item + .contact-item, .work_header p, .education-item .education_date, .project_header p {
    padding-left: 10px;
    border-left: 1px solid darkgray;
}

section .title-parent {
    background-color: var(--main-color);
    padding-top: 3px;
    padding-bottom: 3px;
    display: inline-block;
    text-align: center;
    width: 100%;
    max-width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
}

/* Space before a list content, avoiding to get the same alignment for texts and lists */
section .content ul, ul.content {
    padding-left: 20px;
}

#section_contacts{
    width: 80%;
}

#section_contacts .content, #section_links .content {
    padding-left: 0;
}

.work_header, .education-item, .project_header {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-items: flex-start;
    align-items: baseline
}

.work-item + .work-item, .project-item + .project-item {
    padding-top: 5px;
}

#section_languages ul, #section_hobbies ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-items: flex-start;
    align-items: baseline
}

/* 
*
* CV Header 
*
*/
#section_contacts .content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
    list-style: none;
    margin-bottom: 5px;
}

#header_image {
    position: relative;
    float: right;
    width: 100px;
    height: 100px;
    border-radius: 90px;
    top: -10px;
    right: 0;
}

#section_links .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    list-style: none;
    justify-items: flex-start;
    align-items: baseline;
    margin-bottom: 10px;
}

.link-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 2px;
    background-color: var(--main-color);
}

.link-item a {
    color: black;
}


#section_skills ul, #section_languages ul, #section_hobbies ul {
    padding-left: 0;
    list-style: none;
}

#section_skills ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.skill-item {
    display: grid;
    grid-template-columns: 150px 100px;
    gap: 5px;
}

.language-item {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

/* 
*
* Order
*
*/

#header {
    order: 1;
}

#section_contacts {
    order: 2;
}

#section_links{
    order: 3;
}

#section_about-me {
    order: 4;
}

#section_skills {
    order: 5;
}

#section_work {
    order: 6;
}

#section_projects {
    order: 7;
}

#section_education {
    order: 8;
}

#section_languages {
    order: 9;
}

#section_hobbies {
    order: 10;
}
