/* 
*
* General 
*
*/
*{
    padding: 0;
    margin: 0;
}

html{
    background-color: white;
}

#content{
    padding : 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    width: 100%;
}

h1{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 5px;
    text-align: left;
}

h2{
    font-family: "Epilogue", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    margin-bottom: 5px;
}

h3 {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 11px;
}

h4 {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 10px;
    margin-bottom: 5px;
}

/* 
*
* Sections 
*
*/

/* Inner content */
li, p, .education-item h4{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    line-height: 16px;
}

/* Separator between horizontal list items, dates... */
.header_contacts_list + .header_contacts_list, .work_header p, .education-item .education_date, .project_header p {
    padding-left: 10px;
    border-left: 1px solid darkgray;
}

section .title-parent{
    background-color: #ecf3ff;
    padding-top: 3px;
    padding-bottom: 3px;
    display: inline-block;
    text-align: center;
    width: 100%;
    max-width: 100%;
    margin-top : 4px;
    margin-bottom : 4px;
}

/* Space before a list content, avoiding to get the same alignment for texts and lists */
section .content ul, ul.content{
    padding-left : 20px;
}

.work_header, .education-item, .project_header{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-items: flex-start;
    align-items: baseline
}

.work-item + .work-item, .project-item + .project-item {
    padding-top: 5px;
}

#languages ul, #hobbies ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-items: flex-start;
    align-items: baseline
}

/* 
*
* CV Header 
*
*/
#header{
    min-height: 100px;
}

#header_contacts_list{
    margin-bottom: 5px;
}

#header_photo{
    float: right;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

#header_contacts_list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
    list-style: none;
}

#header_links_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    list-style: none;
    justify-items: flex-start;
    align-items: baseline;
    margin-bottom: 10px;
}

.link-item{
    padding: 2px;
    background-color: #ecf3ff;
}

/* 
*
* Order
*
*/

#header {
    order: 1;
}

#about-me {
    order: 2;
}

#skills{
    order: 3;
}

#work{
    order: 5;
}

#projects{
    order: 4;
}

#education{
    order: 6;
}

#languages{
    order: 7;
}

#hobbies{
    order: 8;
}
