body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.window > div{
    display: grid;
    grid-template-columns: 100px auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

label{
    display: inline-block;
    width: 100px;
}

.input-logo_container{
    grid-column: 1/3;
}

#signup{
    grid-column: 1/3;
    text-align: right;
}