body div{
    display: grid;
    grid-template-columns: 100px auto;
    gap: 10px;
    justify-content: center;
}

label{
    display: inline-block;
    width: 100px;
}

#alert{
    grid-column: 1/3;
}

#sign-up{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    grid-column: 1/3;
}

#login{
    padding: 10px;
    min-width: 100px;
}