h2{
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body div
{
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    width: 30vw;
}

#cvs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-height: 60vh;
    overflow-y: scroll;
}

#create {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cv-item{
    display: grid;
    grid-template-columns: auto 50px 50px;
    gap: 5px;
}

.cv_button{
    font-size: 10px;
    min-width: 50px;
    max-width: 50px;
    width: 50px;
    height: 30px;
}