body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

body div {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
}

#cvs {
    background-color: var(--theme-color-background-dark);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-height: 60vh;
    overflow-y: scroll;
}

#create {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cv-item {
    width: 400px;
    display: grid;
    justify-content: center;
    grid-template-columns: 250px 50px 50px;
    gap: 5px;
}