body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.window > div {
    display: grid;
    grid-template-columns: 100px auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

body div a {
    grid-column: 1/3;
    text-align: right;
}

.input-logo_container {
    grid-column: 1/3;
}

label {
    display: inline-block;
    width: 100px;
}

#reset {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    grid-column: 1/3;
}