:root{
    --theme-color-button: #424874;
    --theme-color-text-light: white;
}

.preview-no-print{
    padding: 16mm;
}

.image-no-print{
    margin-top: 16mm;
    margin-right: 16mm;
}



.squared-button{
    background-color: var(--theme-color-button);
    border: none;
    color: var(--theme-color-text-light);
    padding: 10px;
    width: 45px;
    height: 45px;
    border-radius: 90px;
}

#print_button{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}