body div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

body div div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

#message{
    grid-column: 1/3;
}

#login{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    grid-column: 1/3;
}