body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.window > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.window > div > button {
    align-self: flex-end;
}

.input-logo_container {
    width: 100%;
}

.input-logo_container input {
    width: 100%;
}