:root {
    --theme-color-background-dark: #DCD6F7;
    --theme-color-background-light: #F4EEFF;
    --theme-color-button: #424874;
    --theme-color-button-hover: #525984;
    --theme-color-button-disabled: #999999;
    --theme-color-button-borders: #A6B1E1;
    --theme-color-area: #ede8ff;
    --theme-color-text-dark: black;
    --theme-color-text-light: white;
    --theme-color-overlay: rgba(166, 177, 225, 0.7);
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--theme-color-background-dark);
}

h1 {
    text-align: center;
    padding-bottom: 25px;
    font-size: 1.5rem;
}

/* Duplicate to avoid the second selector to be ignored by :: */
::file-selector-button {
    background-color: var(--theme-color-button);
    border: none;
    color: var(--theme-color-text-light);
    padding: 10px;
    min-width: 100px;
    max-width: 150px;
    height: 40px;
}

button {
    background-color: var(--theme-color-button);
    border: none;
    color: var(--theme-color-text-light);
    padding: 10px;
    min-width: 100px;
    max-width: 150px;
    height: 40px;
}

/* Duplicate to avoid the second selector to be ignored by :: */
::file-selector-button:hover {
    background-color: var(--theme-color-button-hover);
}

button:hover {
    background-color: var(--theme-color-button-hover);
}

/* Duplicate to avoid the second selector to be ignored by :: */
::file-selector-button:disabled {
    background-color: var(--theme-color-button-disabled);
}

button:disabled {
    background-color: var(--theme-color-button-disabled);
}

button svg {
    color: var(--theme-color-text-light);
}

input[type="text"], input[type="password"], input[type="email"] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--theme-color-area) !important;
    color: var(--theme-color-text-dark) !important;
    -webkit-box-shadow: 0 0 0 1000px var(--theme-color-area) inset !important;
    -webkit-text-fill-color: var(--theme-color-text-dark) !important;
    border: none;
    padding-left: 5px;
}


input[type="text"]:active, input[type="password"]:active, input[type="email"]:active {
    background-color: var(--theme-color-area) !important;
    color: var(--theme-color-text-dark) !important;
    -webkit-box-shadow: 0 0 0 1000px var(--theme-color-area) inset !important;
    -webkit-text-fill-color: var(--theme-color-text-dark) !important;
}

select {
    padding-left: 10px;
}

select, textarea {
    background-color: var(--theme-color-area);
}

svg {
    color: var(--theme-color-text-dark);
}

.window {
    background-color: var(--theme-color-background-light);
    height: auto;
    padding: 40px 50px;
    border-radius: 20px;
    border: 2px solid var(--theme-color-button-borders);
}

.input-logo_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
}

.input-logo_container svg, .input-logo_container img {
    position: relative;
    left: 5px;
    width: 25px;
    height: 25px;
}

.input-logo_container input {
    margin-left: -25px;
    padding-left: 35px;
}

.button-link {
    text-decoration: none;
    color: var(--theme-color-button);
}

#message {
    position: fixed;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 0;
    padding: 10px;
    z-index: 2;
}

.error-message {
    color: red;
}

.success-message {
    color: green;
}

.info-message {
    color: var(--theme-color-text-dark);
}

.overlay-tool_bar {
    display: flex;
    position: sticky;
    bottom: 0;
    z-index: 1;
    width: calc(100% - 20px);
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    background-color: var(--theme-color-overlay);
    padding: 10px;
}

.squared-button {
    min-width: 35px;
    max-width: 35px;
    width: 35px;
    height: 35px;
}

.squared-button svg {
    width: 100%;
    height: 100%;
}