*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

button{
    padding: 10px;
    min-width: 100px;
    max-width: 150px;
    height: 40px;
}

#alert, #message
{
    text-align: center;
    height: 20px;
}
#alert{
    color: red;
}