body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    padding: 0;
}

.window {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--theme-color-text-light)
}

button:hover {
    background-color: var(--theme-color-button-hover);
}
